!DOCTYPE html>
<html>
    <head>
        <title>yOUR mY</title>
    </head>

    

    <body>
        <div>
            <h1>HELLO WORLD</h1>
        </div>
        <ul>
            <li><a href="/about">About</a></li>
        </ul>
    </body>
</html>